@media (max-width: 639px) { 
    .serv{
        padding: 0 25px;
    }
 }
@media (max-width: 1279px) { 
    .serv{
        padding: 0 25px;
    }
 }


 .more{
    color:#ff3811;
    border-color:#ff3811;
 }

 .more:hover{
    color:#fff;
    background-color:#ff3811;
    border-color: #ff3811;
 }